.table {
    width: 80%;
    table-layout: fixed;
    /* Lebar masing-masing tabel */
    border-collapse: collapse;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 8%;
    /* Tetapkan lebar sel (misalnya, 10%) */
    word-wrap: break-word;
    /* Membungkus teks yang panjang agar tidak merusak desain tabel */
}

table th {
    background-color: transparent;
    font-weight: bold;
    color: #333;
}

table th,
table td {
    width: 15%;
    /* Ubah lebar sel sesuai keinginan Anda */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.header {
    text-align: center;
    margin-top: 20px;

}

.header img {
    width: 300px;
    /* Sesuaikan dengan ukuran logo Anda */
    height: auto;
    margin-left: 20px;
    /* Jarak antara logo dengan teks header */
}

.content {
    /* margin: 20px;
    padding-left: 5%;
    padding-right: 5%; */
    /* Menambahkan padding ke konten */
}

.section{
    
     
    margin: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.two-tables {
    display: flex;
    /* flex-wrap: wrap; */
}

table {
    width: calc(50% - 5px);
    /* 50% width untuk setiap tabel dan jarak 5px antara tabel */
    margin-right: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.documentation {
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.documentation img {
    width: 200px;
    height: auto;
}